.center-all {
  @apply flex items-center justify-center;
}

#bottom-nav .active {
  @apply dark:text-primary text-secondary;
}

.app-input {
  @apply border border-gray-400 dark:border-shade-200 dark:bg-shade-200 p-5 md:text-xl mt-2 rounded-2xl outline-none focus:ring focus:ring-gray-400 dark:focus:ring-shade-100 placeholder:text-gray-500 w-full;
}

.app-label {
  @apply md:text-xl;
}

.priority-input {
  @apply bg-gray-100 dark:bg-shade-200 w-full mt-2 h-16 flex justify-evenly items-center rounded-3xl font-semibold overflow-hidden p-1;
}

.priority-input .item {
  @apply h-full w-full text-black dark:text-white center-all cursor-pointer hover:bg-gray-300 dark:hover:bg-shade-100;
}

.priority-input .item:first-child {
  @apply rounded-l-3xl;
}

.priority-input .item:last-child {
  @apply rounded-r-3xl;
}

.priority-input .active {
  @apply bg-primary text-black hover:bg-primary;
}

.auth-page {
  height: 100dvh;
  background-image: url("/images/auth-bg.jpg");
  background-size: cover;
}

.auth-input {
  @apply bg-transparent border-2 border-white py-3 text-lg rounded-xl mt-2 px-5 outline-none focus:border-primary placeholder:text-gray-400;
}
